
<div id="rec_bar_arrow" class="pos4"><%= image_tag 'recommend_nav.png'%></div>
<%= render  'shared/recommend_timeline' %>

<h1>New recommendation</h1>

<%= render 'form' %>

<%= link_to 'Back', recommendations_path %>
