
<div id="rec_bar_arrow" class="pos5"><%= image_tag 'recommend_nav.png'%></div>
<%= render  'shared/recommend_timeline' %>

<h1>New recommendation</h1>
<p>Recommendations are confidential.  Recommendation Forms must be submitted to the direct manager of the associate/store being recommended.  Forwarding this completed form begins the Recommendation Portfolio endorsement process.</p>

<%= render 'form' %>


