<script type="text/javascript" src="assets/swfobject.js"></script>
	<div id="videoWrap">
		<a id="close" style="display:none; cursor:pointer;">close</a>
		<div id="vidWrap" style="height:416px; display:none; margin:5px 0px 15px 0px;">
			<div id="bestofbauerVideo">
				
			</div>
		</div>
		
		<div class="vid-list clearfix">
		
		<a id="force"><img src="assets/bob_digital_short_force.jpg" /><br /><strong style="font-size:16px;">May the Force be with You&hellip;</strong></a>
		
		<a id="oldspice"><img src="assets/bob_digital_short_oldspice.jpg" /><br /><strong style="font-size:16px;">Old Spice Knock-off</strong></a>
		
		<a id="glamourazzi" ><img src="assets/bob_digital_short_glamourazzi.jpg" /><br /><strong style="font-size:16px;">Glamourazzi</strong></a>
		
		<a id="barbeque" ><img src="assets/bob_digital_short_barbeque.jpg" /><br /><strong style="font-size:16px;">Barbecuing for Best of Bauer</strong></a>
		
		<a id="ambush" ><img src="assets/bob_digital_short_ambush.jpg" /><br /><strong style="font-size:16px;">Archive Ambush</strong></a>

		<a id="police" ><img src="assets/bob_digital_short_police.jpg" /><br /><strong style="font-size:16px;">Best of Bauer Police</strong></a>

		<a id="snowshoe" ><img src="assets/bob_digital_short_snowshoe.jpg" /><br /><strong style="font-size:16px;">Snowshoe Smack Down</strong></a>
		
		<a id="trevor" ><img src="assets/bob_digital_short_trevor.jpg" /><br /><strong style="font-size:16px;">Trevor and His Action Figures</strong></a>
		
		<a id="eddie" ><img src="assets/bob_digital_short_eddie.jpg" /><br /><strong style="font-size:16px;">Vote for Eddie</strong></a>
		
		<a id="stephen" ><img src="assets/bob_digital_short_stephen.jpg" /><br /><strong style="font-size:16px;">Stephen the Thief</strong></a>		
		
		</div><!-- end Vidlist-->

</div>
<script type="text/javascript">
	$(
		function(){
			$("#stephen,#trevor,#eddie,#police,#snowshoe,#barbeque,#ambush,#glamourazzi,#force,#oldspice").click(
				function(){
					playVid("bob_digital_short_"+$(this).attr("id")+".flv");
					$("#close").slideDown();
					$("#vidWrap").slideDown();
				}
			);
			$("#close").click(
				function(){
					$(this).slideUp();
					$("#vidWrap").slideUp();
				}
			);
		}
	);
	function playVid(vid){
		var fv = {'vid':vid};
		var a = {quality:"best"};
		var p = {allowScriptAccess:"always",base:"assets/flash/",quality:"best"};
		swfobject.embedSWF("assets/flash/video.swf", "bestofbauerVideo", "740", "416", "10.0.0","expressInstall.swf",fv,p,a);
	}
</script>