<script type="text/javascript" src="assets/js/jquery.js"></script>
<script type="text/javascript" src="assets/js/functions.js"></script>
<script type="text/javascript" src="assets/js/swfobject.js"></script>
	<div id="videoWrap">
		<a id="close" style="display:none; cursor:pointer;">close</a>
		<div id="vidWrap" style="height:416px; display:none; margin:5px 0px 15px 0px;">
			<div id="bestofbauerVideo">
				
			</div>
		</div>
		
		<a id="force" style="cursor:pointer;float:left; display:block; width:300px;"><img src="assets/images/bob_digital_short_force.jpg" /><br /><strong style="font-size:16px;">May the Force be with You&hellip;</strong></a>
		
		<a id="oldspice" style="cursor:pointer;float:right; display:block; width:300px;"><img src="assets/images/bob_digital_short_oldspice.jpg" /><br /><strong style="font-size:16px;">Old Spice Knock-off</strong></a>
		
		<a id="glamourazzi" style="cursor:pointer;float:left; display:block; width:300px;margin-top:15px;"><img src="assets/images/bob_digital_short_glamourazzi.jpg" /><br /><strong style="font-size:16px;">Glamourazzi</strong></a>
		
		<a id="barbeque" style="cursor:pointer;float:right; display:block; width:300px;margin-top:15px;"><img src="assets/images/bob_digital_short_barbeque.jpg" /><br /><strong style="font-size:16px;">Barbecuing for Best of Bauer</strong></a>
		
		<a id="ambush" style="cursor:pointer;float:left; display:block; width:300px;margin-top:15px;"><img src="assets/images/bob_digital_short_ambush.jpg" /><br /><strong style="font-size:16px;">Archive Ambush</strong></a>

		<a id="police" style="cursor:pointer;float:right; display:block; width:300px; margin-top:15px;"><img src="assets/images/bob_digital_short_police.jpg" /><br /><strong style="font-size:16px;">Best of Bauer Police</strong></a>

		<a id="snowshoe" style="cursor:pointer;float:left; display:block; width:300px;margin-top:15px; "><img src="assets/images/bob_digital_short_snowshoe.jpg" /><br /><strong style="font-size:16px;">Snowshoe Smack Down</strong></a>
		
		<a id="trevor" style="cursor:pointer;float:right; display:block; width:300px;margin-top:15px;"><img src="assets/images/bob_digital_short_trevor.jpg" /><br /><strong style="font-size:16px;">Trevor and His Action Figures</strong></a>
		
		<a id="eddie" style="cursor:pointer;float:left; display:block; width:300px; margin-top:15px;"><img src="assets/images/bob_digital_short_eddie.jpg" /><br /><strong style="font-size:16px;">Vote for Eddie</strong></a>
		
		<a id="stephen" style="cursor:pointer;float:right; display:block; width:300px;margin-top:15px;"><img src="assets/images/bob_digital_short_stephen.jpg" /><br /><strong style="font-size:16px;">Stephen the Thief</strong></a>		
		
		<div class="clear"></div>

</div>
<script type="text/javascript">
	$(
		function(){
			$("#stephen,#trevor,#eddie,#police,#snowshoe,#barbeque,#ambush,#glamourazzi,#force,#oldspice").click(
				function(){
					playVid("bob_digital_short_"+$(this).attr("id")+".flv");
					$("#close").slideDown();
					$("#vidWrap").slideDown();
				}
			);
			$("#close").click(
				function(){
					$(this).slideUp();
					$("#vidWrap").slideUp();
				}
			);
		}
	);
	function playVid(vid){
		var fv = {'vid':vid};
		var a = {quality:"best"};
		var p = {allowScriptAccess:"always",base:"assets/flash/",quality:"best"};
		swfobject.embedSWF("assets/flash/video.swf", "bestofbauerVideo", "740", "416", "10.0.0","expressInstall.swf",fv,p,a);
	}
</script>