<script type="text/javascript" src="assets/swfobject.js"></script>
	<div id="videoWrap">
		<a id="close" style="display:none; cursor:pointer;">close</a>
		<div id="vidWrap" style="height:416px; display:none; margin:5px 0px 15px 0px;">
			<div id="bestofbauerVideo">
				
			</div>
		</div>
		
		<div class="vid-list clearfix">
		
		<a id="bob2013"><img src="assets/bob2013.jpg" /><br /><strong style="font-size:16px;">Best of Bauer 2013</strong></a>
		
		
		
		</div><!-- end Vidlist-->

</div>
<script type="text/javascript">
	$(
		function(){
			$("#bob2013").click(
				function(){
					playVid("BOB-2013-Commercial.mp4");
					$("#close").slideDown();
					$("#vidWrap").slideDown();
				}
			);
			$("#close").click(
				function(){
					$(this).slideUp();
					$("#vidWrap").slideUp();
				}
			);
		}
	);
	function playVid(vid){
		var fv = {'vid':vid};
		var a = {quality:"best"};
		var p = {allowScriptAccess:"always",base:"assets/flash/",quality:"best"};
		swfobject.embedSWF("assets/flash/video.swf", "bestofbauerVideo", "740", "416", "10.0.0","expressInstall.swf",fv,p,a);
	}
</script>