<ul id="rec_bar">
	<li id="create"><% if current_user %> Create Profile <% else %><%= link_to "Create Profile", new_user_registration_path %><% end %></li>
	<li id="bar_login"><% if current_user %> Login <% else %><%= link_to "Login", new_user_session_path %><% end %></li>
	<li id="award_cat"><%= link_to "Award Category", award_cat_path %></li>
	<li id="form"><%= link_to "Fill Out Form", new_recommendation_path %></li>
</ul>