<h1>Choose an Award Type<h1>
	
	
	<% form_tag %>
	<h3><%= link_to "Brand Awards", new_recommendation_path(:category => "Brand" ) %></h3>
	<h3><%= link_to "Business Awards", new_recommendation_path(:category => "Business" ) %></h3>