


<!--<%#= link_to(image_tag("recommend_now2.png", :border => "0"), location_path) %></div>-->
<h2 style="text-align:center;">Best of Bauer is under construction preparing for 2014.  Check back for updates!</h2>

