<h1>Inbox</h1>

<% if @approvals.present? %>
	<h2>Please review each approval listed</h2>
	<% @approvals.each do |approval|%>
		<%= link_to approval.recommendation.nominee, approval, :class => 'btn' %>
	<% end %>
<% else %>
	No Recommendations need your approval!
<% end %>