
<div id="rec_bar_arrow" class="pos3"><%= image_tag 'recommend_nav.png'%></div>
<%= render  'shared/recommend_timeline' %>

<h1>Location</h1>
	
	

	<h3><%= link_to "Stores/Field", award_cat_path(:category => "store" ) %></h3>
	<h3><%= link_to "Corp/Westmont/Vaughan", award_cat_path(:category => "corp" ) %></h3>