<div id="page_body">
		
	<h1>2012 Digital Shorts</h1>

	<% @videos.each do |video| %>
	<div class="video">
		<%=m video.embed %><br>
		<b><%= video.name %></b>
	</div>
	<% end %>
	<div class="clear"></div>

	<h1>2011 Digital Shorts</h1>
		Coming Soon
		
		
		
<p>&nbsp;</p>
<h1>HIGHLIGHTS FROM BEST OF BAUER<br> 2010 – SUN VALLEY</h1>
<p><b>Nominee Trip</b> (May 16 – May 18, 2011): Best of Bauer Nominees were treated to an outdoor Northwest Adventure on one of their days in Seattle, as well as a boat ride to Blake Island for a Salmon Bake.<br><br> 

	Click <a href="http://www.facebook.com/groups/ebassociates/">here</a> to see photos on the Associate Facebook Page.  Not a member?  Click <a href="/pdf/facebook.pdf">here</a> for instructions on how to join!
</p>

<p>&nbsp;</p> 
	
<p><b>Award Ceremony</b> (May 18, 2011): As always, last year’s ceremony featured red carpet interviews, video segments, presentations by senior leaders, and award of the prized Best of Bauer statues.<br><br>

	Click <a href="http://www.facebook.com/groups/ebassociates/">here</a> to see photos and video on the Associate Facebook Page.  Not a member?  Click <a href="/pdf/facebook.pdf">here</a> for instructions on how to join! 
</p>

<p>&nbsp;</p>

<p><b>Winners Trip:</b> Sun Valley, ID (July 21 – July 25, 2011): Last year’s winners had an adventure in Sun Valley, ID! Winners and their guests were treated to white-water rafting, fly fishing, hiking, mountain biking, and ample opportunity to get outside to explore the beautiful surroundings.  On one morning, special guests Reggie and Zack Crist made a breakfast presentation and then joined the group for outdoor activities!

	Click <a href="http://www.facebook.com/groups/ebassociates/">here</a> to see photos and video on the Associate Facebook Page.  Not a member?  Click <a href="/pdf/facebook.pdf">here</a> for instructions on how to join!</p>

	
</div>