<div id="page_body">
	<h3>Photos and Video</h3>


	<% @videos.each do |video| %>
	<div class="video">
		<%=m video.embed %><br>
		<b><%= video.name %></b>
	</div>
	<% end %>
	<div class="clear"></div>

		<%#= render 'shared/old_vids' %>
</div>