<div id="page_body">
	<h3>2013 Digital Shorts</h3>
	<div>
		<%= link_to (image_tag('2013-homepage-1.gif')), "https://eddiebauer.adobeconnect.com/_a782512723/p3hixlu9x56/", :target => "_blank"%>
	
		
	<h3>2012 Digital Shorts</h3>

	<% @videos.each do |video| %>
	<div class="video">
		<%=m video.embed %><br>
		<b><%= video.name %></b>
	</div>
	<% end %>
	<div class="clear"></div>

	<h3>2011 Digital Shorts</h3>
		<%= render 'shared/old_vids' %>
</div>