<div id="page_body">
		
	<h3>2012 Digital Shorts</h3>

	<% @videos.each do |video| %>
	<div class="video">
		<%=m video.embed %><br>
		<b><%= video.name %></b>
	</div>
	<% end %>
	<div class="clear"></div>

	<h3>2011 Digital Shorts</h3>
		<%= render 'shared/old_vids' %>
</div>