<div id="page_body">
	
	<h3>Photos and Video</h3>
	<p>Coming Soon...</p>
	<%#= render 'shared/old_vids' %>


	<% @videos.each do |video| %>
	<div class="video">
		<%=m video.embed %><br>
		<b><%= video.name %></b>
	</div>
	<% end %>
	<div class="clear"></div>

</div>