<h1>My Recommendations</h1>


<% @recommendations.each do |rec| %>
		<h5>
		<% if rec.approvals.count == 0 %>
			<%= link_to rec.nominee, edit_category_award_recommendation_path(@category, rec.award, rec), :class => "btn" %> 
		<% else %>
			<a href="" class="btn disabled"> <%= rec.nominee %> (In Process)</a>

		<% end %>
		</h5>
<% end %>