<h1><%= @award.name %></h1>


<div id="award_info">
  <%= m @award.info %>
</div>


<div id="award_recommendation">
<% if @award.id == 15 || @award.id == 16 %>

<% else %>		
	<%= link_to "Recommend an Associate Now!", new_category_award_recommendation_path(@category, @award ), :class => "btn"%>	
<% end %>
</div>
