<h1><%= @award.name %></h1>


<div id="award_info">
  <%=m @award.info %>
</div>

<div id="award_recommendation">
<% if @award.id == 15 || @award.id == 16 %>

<% else %>		
	<%= link_to "Recommend A Collegue Now!", new_recommendation_path(:award => @award.id ), :class => "buttonOrange"%>	
<% end %>
</div>

