This is a question from Best of Bauer.com
===============================================
 

<p>Name: <%= @question.name %></p>
 
<p>Email: <%= @question.email %></p>

<p>Question: <%= @question.question %></p>
