body{
	padding-top:0px;
	background:#5f6062 no-repeat;
}

a{color:#5f6062;}
a:hover{
	text-decoration:underline;
	color:#5f6062;
}
.btn{margin-bottom:10px;}

.logo{padding:30px 0 0 0; margin-left:-13px;}

#top{
	background:#c1d82f;
	margin-top:20px;
	position:relative;
}
.nav{margin-bottom:0px;}
.nav a{color:#5f6062  !important;}
.nav a:hover{
	color:#000 !important; 
}
.nav > li > a:hover {
	text-decoration: none;
	background-color:#c1d82f;
}

.alert{width:94%; text-shadow:none;}
.alert-success{
	border-color:#c1d82f;
	color:#efe9e5;
	background-color:#5f6062;
}

.container{
	position:relative;
}

.limiter{
	padding:30px;
	background-color:#fff;
}

#utility-nav{
	position:absolute;
	top:0px;
	right:0px;
	z-index:100;
}

#utility-nav li{
	list-style-type:none;
	background-color:#efe9e5;
	padding:3px 10px;
	color:#5f6062;
}
#utility-nav li a{color:#5f6062;}

.or{padding-top:5px;}
.inline-block{display:inline-block;}
.space20{height:20px;}

#page_body{
	margin-top:20px;
	min-height:600px;
}


#page_body textarea{width:400px; height:100px;}
fieldset{margin-bottom:30px;}

.current-user{position:absolute; top:30px; right:14px;}


#rec_bar_arrow{}
.pos1{margin-left:40px;}
.pos2{margin-left:120px;}	
.pos3{margin-left:186px;}
.pos4{margin-left:276px;}
.pos5{margin-left:390px;}

.field{padding-bottom:10px;}

.asset-list li{padding-bottom:5px;}

td.user-list-edit form, td.user-list-edit form div{display:inline-block; margin-bottom:0px;}

.vid-list a{
	display:block;
	float:left;
	width:300px;
	height:200px;
	padding:10px;
}

.reco-button{
	background-color:#c1d82f;
	background-image:none;
	color:#5f6062;	
	padding:20px 35px;
	font-size:20px;
}
.green-btn{background-position:0 0 !important; }

.home #page_body {text-align:center;}
.home .limiter{background-color:#efe9e5;}

.view-it-link{display:none;}


#error_explanation{
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	padding:15px;
	margin-bottom:10px;
}
#error_explanation h2{
	font-size:16px;
	line-height:16px;
	margin:0px;
	padding-bottom:5px;
}