body{
	padding-top:0px;
	background:#000 url(eb-bg.jpg) no-repeat top center;
}

a{color:#3f4519;}
a:hover{
	text-decoration:underline;
	color:#3f4519;
}

.logo{padding:30px 0 0 0;}

#top{
	background:#3f4519;
	margin-top:20px;
	position:relative;
}
.nav{margin-bottom:0px;}
.nav a, #utility-nav li a{color:#fff !important;}
.nav a:hover, #utility-nav li a:hover{
	color:#ccc !important; 
	background-color:#3f4519;
}
.nav > li > a:hover {
	text-decoration: none;
	background-color:#3f4519;
}

.alert{width:85%;}
.alert-success{
	border-color:#3f4519;
	color:#3f4519;
	background-color:#ccc;
}

.container{
	position:relative;
}

.limiter{
	padding:30px;
	background-color:#fff;
}

#utility-nav{
	position:absolute;
	top:0px;
	right:0px;
	z-index:100;
}

#utility-nav li{
	list-style-type:none;
	background-color:#3f4519;
	padding:3px 10px;
	color:#fff;
}
#utility-nav li a{color:#fff;}

.or{padding-top:5px;}
.inline-block{display:inline-block;}
.space20{height:20px;}

#page_body{
	margin-top:20px;
	min-height:600px;
}


#page_body textarea{width:400px; height:100px;}
fieldset{margin-bottom:30px;}

.current-user{position:absolute; top:30px; right:14px;}


#rec_bar_arrow{}
.pos1{margin-left:40px;}
.pos2{margin-left:120px;}	
.pos3{margin-left:186px;}
.pos4{margin-left:276px;}
.pos5{margin-left:390px;}

.field{padding-bottom:10px;}

.asset-list li{padding-bottom:5px;}

td.user-list-edit form, td.user-list-edit form div{display:inline-block; margin-bottom:0px;}

.vid-list a{
	display:block;
	float:left;
	width:300px;
	height:200px;
	padding:10px;
}

.green-btn{
	background-color:#3f4519;
	border:1px solid #3f4519;
	color:#fff;
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.6);
	background-image: linear-gradient(bottom, rgb(63,69,25) 45%, rgb(79,87,17) 69%);
	background-image: -o-linear-gradient(bottom, rgb(63,69,25) 45%, rgb(79,87,17) 69%);
	background-image: -moz-linear-gradient(bottom, rgb(63,69,25) 45%, rgb(79,87,17) 69%);
	background-image: -webkit-linear-gradient(bottom, rgb(63,69,25) 45%, rgb(79,87,17) 69%);
	background-image: -ms-linear-gradient(bottom, rgb(63,69,25) 45%, rgb(79,87,17) 69%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.45, rgb(63,69,25)),
		color-stop(0.69, rgb(79,87,17))
	);
	
	
}
.green-btn:background-position:0 0 !important; }

.home #page_body {text-align:center;}
.home .limiter{background-color:#999;}