<div id="page_body">


<% unless mobile? %>	
<div id="rec_bar_arrow" class="pos3"><%= image_tag 'recommend_nav.png'%></div>
<%= render  'shared/recommend_timeline' %>

<h3>Location</h3>
	
<h4>Please select a location to begin the recommendation process</h4>
<div id="location_buttons">

<% @categories.each do |category| %>
	<% if category.id == 3 || category.id == 4 %>
	<% else %>
	
	<p><%= link_to category.name, category, :class => "btn green-btn"%></p>

   
	  </tr>
	<% end %>
<% end %>


</div>
	
</div>

<% else %>

<h1>Location</h1>
	
<h2>Please select a location to begin the recommendation process</h2>
<div id="location_buttons">

<% @categories.each do |category| %>
<% if category.id == 3 || category.id == 4 %>
<% else %>
<p><%= link_to category.name, category, :class => "buttonOrange"%></p>

   
  </tr>
<% end %>
<% end %>


<% end %>
