<p>Hello <%= @resource.email %>!</p>

<p>You have indicated that you forgot your password and would like to reset it.  Click the link below to be directed to the site to reset your information. </p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Your password won't change until you access the link above and create a new one.</p>