<p>Hello <%= @resource.email %>!</p>

<p>Someone has submitted a recommendation for approval, and your next in line.  It looks like you didn't have an account with Best of Bauer so we went ahead and created you one.  Click the link below, set your password, and you will have a little mail icon in the top right.  Click that to review and take action on this approval! </p>

<p><%= link_to 'Set my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>


